<!-- Da zaženemo aplikacijo potrebujemo npm start-->

<!--Funckije in spremenljivke (npr, userInput, createNote()), ki jih v xyz.html uporabljaš so vedno definirane v xyz.ts.-->

<!-- za ikone-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- za vpeljavo bootstrap-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!--za temo, še ne dela prav-->
<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">

<!--
  TODO:
  -velikost gumbov
  -postavljenost seznama
  -tema odzadaj (bootstrap)
  -izgled besedila
  -animacije gumbov
  -širina stolpcev
  -style uvozi  v style.css
  -uredi gumbe v moodal

  Najprej uredi vnosno polje.
  Nato uredim seznam.

-->

<!--Naslov strani-->
<div class="container">
  <div class="jumbotron">
    <h1>Zdravo!</h1>
    <h2>Pa poglejmo, kaj moraš še narediti!</h2>
  </div>
</div >

<!--Dodajanje postavke-->
<div>
<div class="row">
  <div class="col">
    <h3>
      S klikom na gumb Dodaj postavko dodamo nalogo.
    </h3>
  </div>
  <div class="col">
    <label>Naloga:
     <input [(ngModel)]="userInput" placeholder="Postavka"/>
      <button type="button" (click)=createNote()>Shrani</button>
    </label>
  </div>
</div>
</div>
<!--seznam postavk-->
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
  <ul class="notes">
    <li *ngFor="let note of notes"
        [class.selected]="note === selectedNote" (click)="onSelect(note)"
        style="height: 1cm; width: 15cm;">
        {{note.note}} - {{note.creation}}
        <!--Gumb za urejanje-->
      <button type="button" class="btn btn-primary" (click)="openModal(urejanje)" ><i class="fa fa-edit"> Uredi</i></button>
          <ng-template #urejanje>
            <div class="modal-body text-center">
            <h2>Uredi postavko</h2>
                <div><span>Datum nastanka postavke:  </span>{{selectedNote.creation}}</div>
                <div>
                  <label>Ime postavke:
                    <input [(ngModel)]="selectedNote.note" placeholder="note"/>
                  </label>
                </div>
            <p>Ali res želite spremeniti?</p>
            <!--Gumba za potrditev/preklic-->
            <button type="button" class="btn btn-default" (click)="updateNote(selectedNote)">Potrdi spremembo</button>
            <button type="button" class="btn btn-primary" (click)="decline()" >Prekliči</button>
          </div>
         </ng-template>
         <!--Gumb za izbris-->
        <button type="button" class="btn btn-primary" (click)="openModal(brisanje)"><i class="fa fa-close"> Izbriši</i></button>
          <ng-template #brisanje>
              <div class="modal-body text-center">
                <p>Ali res želite izbrisati?</p>
                <!--Gumba za potrditev/preklic-->
                <button type="button" class="btn btn-default" (click)="deleteNote(selectedNote)" >Potrdi izbris</button>
                <button type="button" class="btn btn-primary" (click)="decline()" >Prekliči</button>
              </div>
          </ng-template>
    </li>
  </ul>
  </div>
  <div class="col"></div>
  </div>
</div>








