<!-- Da zaženemo aplikacijo potrebujemo npm start-->

<!--Funckije in spremenljivke (npr, userInput, createNote()), ki jih v xyz.html uporabljaš so vedno definirane v xyz.ts.-->

<!-- za ikone-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--za določanje teme href zamenjamo z primerno temo iz npr bootswatch-->
<link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
<!-- za vpeljavo bootstrap-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--
  TODO:
  Nato uredim seznam.
  -velikost gumbov (shrani, uredi, izbriši)
  -animacije gumbov
  -uredi gumbe v moodal
  -poglej zakaj gumb izbriši ne dela 100%
  -ureditev vrstice seznama
-->

<!--Naslov strani-->
<div class="container">
  <div class="jumbotron" style="height: 10rem;text-align: center;">
    <h1>Zdravo!</h1>
    <h3 style="color: whitesmoke;">Pa poglejmo, kaj moraš še storiti!</h3>
  </div>
</div >

<!--Dodajanje postavke-->
<div>
<div class="row">
  <div class="col"></div>
  <div class="col-5">
    <h4>
      S klikom na gumb <b>Shrani</b> dodamo nalogo.
    </h4>
  </div>
  <div class="col-4">
    <!-- urediti moram ta label, da bo izgledal lep-->
    <label>Naloga:
      <!--gumb za shranjevane postavke-->
     <input [(ngModel)]="userInput" placeholder=""/>
      <button type="button" class="btn btn-secondary" (click)=createNote()><i class="fa fa-check"></i>Shrani</button>
    </label>
  </div>
  <div class="col-1"></div>
</div>
</div>

<!--seznam postavk-->
<div class="row">
<div class="col">
</div>

<div class="col-5">
<div class="container">
  <ul class="notes">
    <li *ngFor="let note of notes"
        [class.selected]="note === selectedNote" (click)="onSelect(note)"
        style="height: 3rem; width: 40rem;">
        <div class="col-4">{{note.note}}</div><div class="col-4">{{note.creation}}</div>
        <!--Gumb za urejanje-->
      <button type="button" class="btn btn-secondary" (click)="openModal(urejanje)" ><i class="fa fa-edit"> Uredi</i></button>
          <ng-template #urejanje>
            <div class="modal-body text-center">
            <h2 style="color: whitesmoke;">Uredi postavko</h2>
                <div><span>Datum nastanka:  </span>{{selectedNote.creation}}</div>
                <div>
                  <label>Naloga:
                    <input [(ngModel)]="selectedNote.note" placeholder="note"/>
                  </label>
                </div>
            <p>Ali res želite spremeniti?</p>
            <!--Gumba za potrditev/preklic-->
            <div class="row">
              <div class="col">
              <button type="button" class="btn btn-secondary" (click)="updateNote(selectedNote)">Potrdi spremembo</button>
              </div>
              <div class="col">
              <button type="button" class="btn btn-secondary" (click)="decline()" >Prekliči</button>
              </div>
            </div>
          </div>
          </ng-template>
         <!--Gumb za izbris-->
         <!--Odločit se moram kakšen bo izgled gumbov, popravit padding-->
        <button type="button" class="btn btn-secondary" (click)="openModal(brisanje)"><i class="fa fa-close"> Izbriši</i></button>
          <ng-template #brisanje>
              <div class="modal-body text-center">
                <p>Ali res želite izbrisati?</p>
                <!--Gumba za potrditev/preklic-->
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-5">
                  <button type="button" class="btn btn-secondary" (click)="deleteNote(selectedNote)" >Potrdi izbris</button>
                  </div>
                  <div class="col-5">
                  <button type="button" class="btn btn-secondary" (click)="decline()" >Prekliči</button>
                  </div>
                  <div class="col-1"></div>
                </div>
              </div>
          </ng-template>
       </li>
  </ul>
</div>
</div>

<div class="col">
</div>
</div>
