.notes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  /* width: 15em; */
}

.notes li {
  /* cursor: pointer; */
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  /* height: 1.6em; */
  border-radius: 4px;
}

.notes li:hover {
  position: relative;
  left: 0;
  background-color:whitesmoke;
  margin: .5em;
  border-radius: 4px;
}

.notes li:first-of-type {
  position: relative;
  left: 0;
  background-color:whitesmoke;
  margin: .5em;
  border-radius: 4px;
}

/* slike */

img {
  float: left;
  height: 10rem;
  object-fit: cover;
  width: 25rem;
}

/* spremembe zaslona */
* {
  box-sizing:border-box;
}

.left {
  padding-left:10px;
  float:left;
  width: 20%;
  text-align: center;
}

.main {
  width: 60%;
  align-items: center;
  justify-content: center;
}

.right {
  padding-right:10px;
  float:right;
  width: 20%;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


.collapse {
  padding: 5px;
}

/* pisave */

.label{
  font-family: 'Times New Roman', Times, serif;
}

.btn-secondary {
  font-family: 'Times New Roman', Times, serif;
}

.jumbotron {
  font-family: 'Times New Roman', Times, serif;
}


